name: CI

on: [push]

jobs:
    build:
        name: Build
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
              name: Checkout
              with:
                  fetch-depth: 0
            - uses: ./.github/actions/setup-node
            - name: Build
              run: npm run build
    test:
        name: Test
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
              name: Checkout
              with:
                  fetch-depth: 0
            - uses: ./.github/actions/setup-node
            - name: Test
              run: npm test
